@media (min-width: 0) {
  /* .max-width-12 {
    max-width: 112rem;
  } */

  .max-width-12-custom {
    max-width: 112rem;
  }
}
@media (max-width: 1440px) {
  .max-width-12-custom {
    max-width: 112rem;
  }
}
.fMontserrat {
  font-family: "Montserrat", sans-serif;
}
.max-width-8-custom {
  max-width: 112rem;

  @media (max-width: 1440px) {
    max-width: 80rem;
  }
}
@media (max-width: 992px) {
  .md-width-100 {
    width: 100% !important;
  }
}
@media (min-width: 0) {
  /* .max-width-8 {
    max-width: 112rem;
  } */
}

@media (min-width: 992px) {
  .w-md-auto {
    width: 100% !important;
  }
}

@media (min-width: 768px) {
  .md-px2 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (min-width: 992px) {
  .col-lg-2-custom {
    flex: 0 0 auto;
    width: 20%;
  }
}

.home-hero-section {
  min-height: 70vh;

  @media (max-width: 1024px) {
    flex-direction: column;
  }
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.hero-video {
  width: 60%;
  height: 50vh;
  margin-block: auto;
  /* background-color: #6de1d4; */

  @media (max-width: 1440px) {
    padding-right: 2.5rem;
    width: 55%;
  }
  @media (max-width: 1280px) {
    padding-right: 2.5rem;
    width: 45%;
  }
  @media (max-width: 1024px) {
    padding-left: 2.5rem;
    padding-right: 0;
    width: 50%;
  }
  @media (max-width: 768px) {
    padding-left: 2.5rem;
    padding-right: 0;
    width: 65%;
  }
  @media (max-width: 500px) {
    width: 100%;
    height: 400px;
    margin-top: 100px;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  div {
    width: 100% !important;
    height: 100% !important;
  }

  img {
    width: 100% !important;
    height: 100% !important;
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.purple-button {
  background-color: #4840bb;
  color: #fff;
  border: none;
  transition: 0.3s ease-in-out;
  border: 2px solid #4840bb;

  &:hover {
    background-color: transparent;
    border: 2px solid #4840bb;
    color: #4840bb;
  }
}

.mint-button-two {
  background-color: #6de1d4 !important;
  color: #4840bb !important;
  border: 2px solid #6de1d4 !important;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: transparent !important;
    border: 2px solid #6de1d4 !important;
    color: #fff !important;
  }
}

.mint-button {
  background-color: #6de1d4 !important;
  color: #000 !important;
  border: none !important;
  transition: 0.3s ease-in-out;
  border: 2px solid #6de1d4 !important;

  &:hover {
    background-color: transparent !important;
    border: 2px solid #6de1d4 !important;
    color: #000 !important;
  }
}

.color-dark {
  color: black !important;
}
.color-white {
  color: white !important;
}

.bg-purple {
  background-color: #4840bb !important;
}

.h-fit {
  height: fit-content !important;
}

.gap-1 {
  gap: 10px;
}
.gap-2 {
  gap: 20px;
}
.gap-3 {
  gap: 30px;
}

.fs-14 {
  font-size: 14px !important;
  font-weight: 400;
}
.fs-16 {
  font-size: 16px !important;
  font-weight: 400;
}
.fs-20 {
  font-size: 20px !important;
  font-weight: 400;
  @media (max-width: 768px) {
    font-size: 16px !important;
  }
}
.fs-22 {
  font-size: 22px !important;
  font-weight: 400;
  @media (max-width: 768px) {
    font-size: 16px !important;
  }
}
.fs-24 {
  font-size: 24px !important;
  font-weight: 400;
  @media (max-width: 768px) {
    font-size: 16px !important;
  }
}
.fs-26 {
  font-size: 26px !important;
  font-weight: 400;
  @media (max-width: 1440px) {
    font-size: 24px !important;
  }
  @media (max-width: 768px) {
    font-size: 20px !important;
  }
}
.fs-30 {
  font-size: 30px !important;
  font-weight: 400;
  @media (max-width: 768px) {
    font-size: 24px !important;
  }
}

.fs-xl-26 {
  @media (max-width: 1280px) {
    font-size: 26px !important;
  }
  @media (max-width: 500px) {
    font-size: 20px !important;
  }
}
.fs-lg-18 {
  @media (max-width: 1280px) {
    font-size: 18px !important;
  }
}

.fs-38 {
  font-size: 38px !important;
  font-weight: 400;
  @media (max-width: 1280px) {
    font-size: 30px !important;
  }
  @media (max-width: 768px) {
    font-size: 30px !important;
  }
}
.fs-44 {
  font-size: 2.75rem !important;
  /* font-weight: 400; */
  @media (max-width: 768px) {
    font-size: 30px !important;
  }
}
.fs-48 {
  font-size: 48px !important;
  font-weight: 400;
  @media (max-width: 1280px) {
    font-size: 38px !important;
  }
  @media (max-width: 768px) {
    font-size: 30px !important;
  }
}

.w-80px {
  width: 80%;
}
.min-h-150 {
  min-height: 150px;
}
.radius-round {
  border-radius: 100%;
}

.font-weight-l {
  font-weight: 300;
}

.flex-column-tablet {
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

@media (max-width: 786px) {
  .imgs-mobile {
    display: flex;
    flex-direction: column;
  }
}

.s4-ul-style {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;

  li {
    position: relative;
    padding-left: 30px;

    &::after {
      position: absolute;
      content: url(./assets/li-dot-style.png);
      width: 20px;
      height: 20px;
      object-fit: contain;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.w-fit-content {
  width: fit-content;
}

.img-size {
  width: 120px;
  height: 120px;
  object-fit: cover;

  @media (max-width: 766px) {
    width: 250px;
    height: 250px;
    margin: 0 auto;
  }
  @media (max-width: 576px) {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
}

.success-card {
  .success-title {
    @media (max-width: 576px) {
      font-size: 18px;
      text-align: center;
    }
  }
}

.first-section {
  display: flex;
  align-items: center;
  .left-block {
    width: 60%;

    @media (max-width: 1024px) {
      width: 90%;
    }
    @media (max-width: 768px) {
      margin-bottom: 100px;
    }
    .image-wrapper {
      width: 100%;
      height: 600px;
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5%;
      align-items: center;

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
        height: auto;
      }
      .main-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .number-one {
        position: absolute;
        top: -10%;
        left: 30%;
        transform: translateX(-30%);
        height: 158px;
        object-fit: contain;

        @media (max-width: 1024px) {
          height: 100px;
        }
        @media (max-width: 768px) {
          display: none;
        }
      }

      .arrow {
        position: absolute;
        top: 50%;
        right: -35%;
        transform: translateY(-35%);
        height: 235px;
        object-fit: contain;

        @media (max-width: 1280px) {
          height: 170px;
        }
        @media (max-width: 1024px) {
          display: none;
        }
      }
    }
  }
  .right-block {
    width: 40%;
    min-height: 600px;
    position: relative;

    @media (max-width: 1024px) {
      width: 0%;
      display: none;
    }

    .image-wrapper {
      position: absolute;
      top: -10%;
      right: 0;

      width: 307px;
      height: 307px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

.second-section {
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    margin-bottom: 100px;
  }
  .left-block {
    width: 40%;

    @media (max-width: 1440px) {
      width: 20%;
    }

    @media (max-width: 1024px) {
      width: 0%;
      display: none;
    }
  }
  .right-block {
    width: 60%;
    @media (max-width: 1440px) {
      width: 80%;
    }

    @media (max-width: 1024px) {
      width: 90%;
    }
    .image-wrapper {
      width: 100%;
      height: 600px;
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5%;
      align-items: center;

      @media (max-width: 1440px) {
        grid-template-columns: 1fr 60%;
      }
      @media (max-width: 768px) {
        grid-template-columns: 1fr;
        height: auto;
      }

      .main-img {
        width: 100%;
        height: 100%;
        object-fit: contain;

        @media (max-width: 1440px) {
          height: 80%;
        }
      }

      .number-two {
        position: absolute;
        top: -20%;
        right: 20%;
        transform: translateX(-20%);
        height: 158px;
        object-fit: contain;
        @media (max-width: 1024px) {
          height: 100px;
          top: 0%;
        }
        @media (max-width: 768px) {
          display: none;
        }
      }

      .arrow {
        position: absolute;
        bottom: -15%;
        left: -25%;
        transform: translateX(-25%);
        height: 305px;
        object-fit: contain;
        z-index: 10;

        @media (max-width: 1440px) {
          left: 0%;
          transform: translateX(0%);
        }
        @media (max-width: 1280px) {
          height: 230px;
        }
        @media (max-width: 1024px) {
          display: none;
        }
      }
    }
  }
}

.third-section {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;

  @media (max-width: 768px) {
    margin-bottom: 0;
  }
  .right-block {
    width: 40%;
    min-height: 400px;
    position: relative;

    @media (max-width: 1024px) {
      width: 0%;
      display: none;
    }

    .image-wrapper {
      position: absolute;
      top: 0;
      right: 0;

      width: 238px;
      height: 238px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .left-block {
    width: 60%;

    @media (max-width: 1024px) {
      width: 90%;
    }
    .image-wrapper {
      width: 100%;
      height: 600px;
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5%;
      align-items: center;

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
        height: auto;
      }
      .main-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .number-three {
        position: absolute;
        top: -5%;
        left: 20%;
        transform: translateX(-20%);
        height: 158px;
        object-fit: contain;
        @media (max-width: 1024px) {
          height: 100px;
          top: 10%;
        }
        @media (max-width: 768px) {
          display: none;
        }
      }

      .arrow {
        position: absolute;
        bottom: -10%;
        left: -30%;
        transform: translateX(-30%);
        height: 305px;
        object-fit: contain;
        z-index: 10;

        @media (max-width: 1024px) {
          display: none;
        }
      }
    }
  }
}

.money-section-btn {
  @media (max-width: 768px) {
    flex-direction: column;
  }

  a {
    width: fit-content;
    @media (max-width: 992px) {
      margin: 0 auto;
    }
  }
}

.sample-section {
  display: grid;
  grid-template-columns: 1fr 20%;
  @media (max-width: 1440px) {
    grid-template-columns: 1fr 20%;
    gap: 40px;
  }
  @media (max-width: 1280px) {
    grid-template-columns: 1fr 20%;
    gap: 40px;
  }
  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  @media (max-width: 994px) {
    flex-direction: column;
  }
  svg {
    margin-block: 10px 0;
    width: 100% !important;
    object-fit: contain;

    @media (max-width: 1024px) {
      margin-top: 15px;
    }
    @media (max-width: 768px) {
      width: 100px !important;
    }
  }
  .sample-icon-content {
    gap: 20px;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .icon-wrapper {
      width: fit-content !important;
    }

    .width-reset {
      width: 90%;
    }

    .col-sm-12 {
      flex: none;
      gap: 30px;
    }

    svg {
      width: 100px !important;
      height: 100px;
      object-fit: contain;
    }
  }
  .btn-paragraph {
    margin-left: auto;
    @media (max-width: 1024px) {
      margin: 0 auto;
    }
  }
}

.socials {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 40px;

  a {
    width: 24px;
    height: 24px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.navbar-brand {
  img {
    @media (max-width: 768px) {
      width: 250px !important;
      margin: 0 !important;
    }
    @media (max-width: 768px) {
      width: 150px !important;
    }
  }
}

h4,
h5,
h6 {
  line-height: 1.2 !important;
}

@media (max-width: 768px) {
  .mobile-padding {
    padding-top: 3rem;
    padding-bottom: 16rem;
  }
}
.desktop-top-padding {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.steps {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 72px;

  @media (max-width: 1440px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  .step-block {
    display: flex;
    flex-direction: column;

    .top-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 18px;

      .number-wrapper {
        margin: 0;
        height: 60px;

        img {
          height: 100%;
          object-fit: contain;
        }
      }
      .arrow-wrapper {
        margin: 0;
      }
    }

    h3 {
      color: hsla(173, 68%, 66%, 1);
      font-size: 28px;
      line-height: 1.4;
      font-weight: 700;
      margin-bottom: 16px;
    }

    .description {
      font-size: 18px;
      font-weight: 300;
      line-height: 1.4;
      color: hsla(0, 0%, 0%, 1);
      margin-bottom: 50px;
    }

    .image-wrapper {
      width: 100%;
      margin: 0;
      margin-top: auto;

      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
}

.dropdowns {
  width: 100%;
  display: flex;
  flex-direction: column;

  .dropdown-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 93px;
    row-gap: 48px;

    @media (max-width: 1440px) {
      column-gap: 40px;
    }
    @media (max-width: 992px) {
      grid-template-columns: 1fr;
      row-gap: 28px;
    }
    .accordion-item {
      padding-bottom: 28px;
      border-bottom: 1px solid hsla(244, 49%, 49%, 0.5);
      height: fit-content;

      .accordion-header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        .icon-wrapper {
          width: 32px;
          margin: 0;
          margin-right: 18px;

          img {
            width: 100%;
            object-fit: contain;
          }
        }
        .text {
          width: 100% !important;
          font-size: 18px !important;
          font-weight: 600 !important;
          color: hsla(0, 0%, 0%, 1) !important;
          text-transform: uppercase !important;
          font-family: "Montserrat", sans-serif !important;

          @media (max-width: 1440px) {
            font-size: 14px;
            width: 60%;
          }
          @media (max-width: 1280px) {
            font-size: 14px;
            line-height: 1.1;
            width: 60%;
          }
          @media (max-width: 992px) {
            font-size: 18px;
            line-height: 1.1;
            width: 100%;
          }
        }
        .arrow-wrapper {
          width: 35px;
          margin: 0;
          margin-left: auto;
          transition: 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);

          @media (max-width: 1440px) {
            width: 25px;
          }
          @media (max-width: 992px) {
            /* width: 35px; */
          }

          img {
            width: 100%;
            object-fit: contain;
          }
        }
      }

      .accordion-body {
        color: hsla(0, 0%, 0%, 1) !important;
      }
    }

    .dropdown {
      height: fit-content;
      /* transition: 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86); */

      @media (max-width: 1440px) {
        height: 90px;
      }

      @media (max-width: 992px) {
        padding-bottom: 28px;
        height: auto;
      }

      .dropdown-head {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-bottom: 20px;

        @media (max-width: 1440px) {
          height: 100%;
        }

        @media (max-width: 992px) {
          height: auto;
        }

        .icon-wrapper {
          width: 32px;
          margin: 0;
          margin-right: 18px;

          img {
            width: 100%;
            object-fit: contain;
          }
        }
        .text {
          width: 100% !important;
          font-size: 18px !important;
          font-weight: 600 !important;
          color: hsla(0, 0%, 0%, 1) !important;
          text-transform: uppercase !important;
          font-family: "Montserrat", sans-serif !important;

          @media (max-width: 1440px) {
            font-size: 14px;
            width: 60%;
          }
          @media (max-width: 1280px) {
            font-size: 14px;
            line-height: 1.1;
            width: 60%;
          }
          @media (max-width: 992px) {
            font-size: 18px;
            line-height: 1.1;
            width: 100%;
          }
        }
        .arrow-wrapper {
          width: 35px;
          margin: 0;
          margin-left: auto;
          transition: 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);

          @media (max-width: 1440px) {
            width: 25px;
          }
          @media (max-width: 992px) {
            /* width: 35px; */
          }

          img {
            width: 100%;
            object-fit: contain;
          }
        }
      }
      .dropdown-body {
        color: hsla(0, 0%, 0%, 1);
        font-size: 16px;
        font-weight: 400;
        /* overflow: hidden; */
        /* max-height: 0; */
        /* transition: 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86); */

        @media (max-width: 1280px) {
          font-size: 14px;
        }
        @media (max-width: 992px) {
          font-size: 16px;
        }
      }
    }

    .gridDropdown {
      cursor: pointer;
      pointer-events: auto;
    }

    .dropdown.active {
      gap: 20px;
    }
    .dropdown.active .dropdown-body {
      max-height: 1000px;
      @media (max-width: 768px) {
        max-height: 2000px;
      }
    }
    .dropdown.active .arrow-wrapper {
      transform: rotate(180deg);
    }
    .gridDropdown.active {
      gap: 20px;
    }
    .gridDropdown.active .dropdown-body {
      max-height: 1000px;
      @media (max-width: 768px) {
        max-height: 2000px;
      }
    }
    .gridDropdown.active .arrow-wrapper {
      transform: rotate(180deg);
    }
  }
}

.features {
  display: grid;
  grid-template-columns: 35% 55%;
  gap: 10%;

  @media (max-width: 992px) {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .left-block {
    background-color: hsla(244, 49%, 49%, 1);
    border-radius: 10px;
    padding: 104px 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: fit-content;
    width: 100%;

    @media (max-width: 1280px) {
      padding: 50px 30px;
      gap: 30px;
    }
    @media (max-width: 992px) {
      padding: 30px 30px;
      gap: 20px;
    }

    .feature-block-btn {
      display: flex;
      /* grid-template-columns: 90% 10%; */
      align-items: center;
      background-color: transparent;
      border: none;
      padding-bottom: 10px;
      opacity: 0.5;
      border-bottom: 8px solid hsla(173, 68%, 66%, 0);
      transition: 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);

      @media (max-width: 992px) {
        border-bottom: 4px solid hsla(173, 68%, 66%, 0);
      }

      .icon-wrapper {
        width: 36px;
        margin: 0;
        margin-right: 22px;

        @media (max-width: 1440px) {
          width: 26px;
        }
        @media (max-width: 1280px) {
          display: none;
        }

        img {
          width: 100%;
          object-fit: contain;
        }
      }

      .text {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 26px;
        color: #fff;

        @media (max-width: 1440px) {
          font-size: 20px;
        }
      }

      .arrow-wrapper {
        width: 10px;
        margin: 0;
        margin-left: auto;
        opacity: 0;
        transition: 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);

        img {
          width: 100%;
          object-fit: contain;
        }
      }
    }

    .feature-block-btn.active-btn {
      border-bottom: 8px solid hsla(173, 68%, 66%, 1);
      opacity: 1;

      @media (max-width: 992px) {
        border-bottom: 4px solid hsla(173, 68%, 66%, 1);
      }
    }
    .feature-block-btn.active-btn .arrow-wrapper {
      opacity: 1;
    }
  }

  .right-block {
    display: flex;
    flex-direction: column;

    .feature-block {
      display: flex;
      flex-direction: column;
      gap: 25px;
      position: absolute;
      left: -50px;
      opacity: 0;
      width: 100%;
      transition: 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      z-index: 0;

      @media (max-width: 768px) {
        gap: 15px;
      }

      .feature {
        background-color: hsla(228, 26%, 96%, 1);
        border-radius: 10px;
        padding-block: 40px;
        padding-inline: 95px 56px;
        display: flex;
        flex-direction: column;
        gap: 0px;
        height: fit-content;
        transition: 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        /* pointer-events: none; */

        @media (max-width: 1280px) {
          padding: 20px 30px;
        }

        @media (max-width: 500px) {
          padding: 20px;
        }

        .feature-head {
          display: flex;
          align-items: center;
          cursor: pointer;
          gap: 10px;

          .text {
            font-size: 18px;
            font-weight: 600;
            color: hsla(0, 0%, 0%, 1);
            text-transform: uppercase;
            font-family: "Montserrat", sans-serif;

            @media (max-width: 992px) {
              font-size: 16px;
            }
            @media (max-width: 500px) {
              font-size: 14px;
            }
          }
          .arrow-wrapper {
            width: 35px;
            margin: 0;
            margin-left: auto;
            transition: 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);

            @media (max-width: 1280px) {
              width: 25px;
            }

            img {
              width: 100%;
              object-fit: contain;
            }
          }
        }
        .feature-body {
          color: hsla(0, 0%, 0%, 1);
          font-size: 16px;
          font-weight: 400;
          overflow: hidden;
          max-height: 0;
          transition: 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        }
      }

      .feature.active-feature {
        gap: 20px;
        /* pointer-events: all; */
      }
      .feature.active-feature .feature-body {
        max-height: 1000px;
        @media (max-width: 768px) {
          max-height: 2000px;
        }
      }
      .feature.active-feature .arrow-wrapper {
        transform: rotate(180deg);
      }
    }

    .description-block {
      background-color: hsla(228, 26%, 96%, 1);
      padding: 66px 82px;
      border-radius: 10px;
      height: 100%;

      @media (max-width: 576px) {
        padding: 50px 40px;
      }
    }

    .feature-block.active-feature-block {
      opacity: 1;
      left: 0;
      position: relative;
      z-index: 2;
    }
  }
}

.faqs {
  width: 60%;
  margin: 0 auto;

  @media (max-width: 1440px) {
    width: 80%;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
  .faq-block {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    transition: 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);

    @media (max-width: 768px) {
      gap: 15px;
    }

    .question {
      background-color: hsla(228, 26%, 96%, 1);
      border-radius: 10px;
      padding-block: 20px;
      padding-inline: 36px;
      display: flex;
      flex-direction: column;
      gap: 0px;
      height: fit-content;
      transition: 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      /* pointer-events: none; */

      @media (max-width: 1280px) {
        padding: 20px 30px;
      }

      @media (max-width: 500px) {
        padding: 20px;
      }

      .question-head {
        display: grid;
        grid-template-columns: 1fr 10%;
        align-items: center;
        cursor: pointer;
        gap: 10px;

        .text {
          font-size: 16px;
          font-weight: 600;
          color: hsla(0, 0%, 0%, 1);
          text-transform: uppercase;
          font-family: "Montserrat", sans-serif;

          @media (max-width: 992px) {
            font-size: 16px;
          }
          @media (max-width: 500px) {
            font-size: 14px;
          }
        }
        .arrow-wrapper {
          width: 35px;
          margin: 0;
          margin-left: auto;
          transition: 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);

          @media (max-width: 1280px) {
            width: 25px;
          }

          img {
            width: 100%;
            object-fit: contain;
          }
        }
      }
      .question-body {
        color: hsla(0, 0%, 0%, 1);
        font-size: 16px;
        font-weight: 400;
        overflow: hidden;
        max-height: 0;
        transition: 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      }
      /* .active-body {
        height: initial;
        transition: 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      } */
    }

    .question.active-question {
      gap: 20px;
      /* pointer-events: all; */
    }
    .question.active-question .question-body {
      max-height: 1000px;
      @media (max-width: 768px) {
        max-height: 2000px;
      }
    }
    .question.active-question .arrow-wrapper {
      transform: rotate(180deg);
    }
  }

  .description-block {
    background-color: hsla(228, 26%, 96%, 1);
    padding: 66px 82px;
    border-radius: 10px;
    height: 100%;
  }

  .question-block.active-question-block {
    opacity: 1;
    left: 0;
    position: relative;
    z-index: 2;
  }
}

.wp-image-194,
.wp-image-195,
.wp-image-196 {
  height: 75px;
  object-fit: contain;
}

.wp-image-194-custom {
  width: 75px;
}

.sjog-image {
  height: 60px;
  object-fit: contain;
}
.stwo-image {
  height: 56px;
  object-fit: contain;
}
.stwo-image-second {
  height: 40px;
  object-fit: contain;
  margin-top: 14px;
}
.sthree-image {
  height: 81px;
  width: fit-content;
  object-fit: contain;
}
.sfour-image {
  height: 75px;
  width: fit-content;
  object-fit: contain;

  @media (max-width: 1028px) {
    height: 60px;
  }
}
.sfour-image-l {
  height: 95%;
  width: 95%;
  object-fit: cover;
}
.h-606 {
  height: 606px;

  .purple-block {
    position: absolute;
    top: 0;
    right: 0;
    height: 400px;
    width: 400px;
    background-color: #4840bb;
    z-index: -1;

    @media (max-width: 1028px) {
      width: 200px;
      height: 200px;
    }
    @media (max-width: 768px) {
      top: -30px;
    }
  }

  .purple-block-left {
    right: auto;
    left: 0;
  }
}
.sfive-image {
  height: 75px;
  width: 250px;
  object-fit: contain;

  @media (max-width: 1440px) {
    height: 50px;
    width: 150px;
  }
}
.sfive-number-image {
  height: 70px;
  object-fit: contain;

  @media (max-width: 1280px) {
    height: 50px;
  }
}
.ssix-image {
  height: 110px;
  width: fit-content;
  object-fit: contain;
}

.border-right-dashed {
  border-right: 1px dashed white;

  @media (max-width: 576px) {
    border-right: 0px dashed white;
  }
}

.see-more-btn {
  color: #6de1d4 !important;
  font-size: 14px !important;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  align-items: center;
  gap: 6px;
  margin: 0 auto;
  width: fit-content;
}
.view-more-btn {
  color: #6de1d4 !important;
  font-size: 14px !important;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  align-items: center;
  width: fit-content;
}

.card-container {
  width: 90%;
  @media (max-width: 992px) {
    width: 95%;
  }
}
.card-thons {
  width: 95%;
  margin-inline: auto;
  @media (max-width: 992px) {
    width: 95%;
  }
}

.card-5 {
  position: relative;

  @media (max-width: 992px) {
    min-height: 300px;
  }

  p {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);
    z-index: 0;
  }

  h4 {
    z-index: 2;
    width: 80%;
  }

  .see-more-btn {
    z-index: 2;
  }
}
#SubscriberContainer {
  display: none !important;
}

.menu-primary-cta {
  border: 1px solid #6de1d4 !important;
  background-color: #6de1d4 !important;
  color: #4840bb !important;
  text-transform: capitalize !important;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: #fff !important;
    color: #4840bb !important;
  }
}

.menu-secondary-cta {
  border: 1px solid #4840bb !important;
  background-color: #4840bb !important;
  color: #6de1d4 !important;
  text-transform: capitalize !important;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: #fff !important;
    color: #6de1d4 !important;
  }
}

.mobile-get-started {
  display: none;

  @media (max-width: 1200px) {
    display: flex;
  }
  @media (max-width: 500px) {
    display: none;
  }
}

.header-width {
  width: calc(100% - 6rem) !important;
  padding-inline: 3rem !important;
}

.header-logo {
  height: 45px;
  object-fit: contain;

  @media (max-width: 1440px) {
    height: 35px;
  }
}
.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 500px) {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
.flip-card {
  height: auto;
  /* width: 100%; */
  position: relative;
  background-color: #4840bb;
  border-radius: 16px;
  color: #fff;

  /* &:hover .content {
    transform: rotateY(180deg);
    transition: transform 1s;
  } */

  .content {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* transition: transform 1s;
    transform-style: preserve-3d; */
  }
  .front {
    position: relative;
    /* top: 0; */
    /* left: 0; */
    /* width: 100%; */
    /* height: 100%; */
    /* backface-visibility: hidden; */
    /* padding: 42px 40px; */
    /* background-color: #4840bb; */
    /* border-radius: 16px; */
    /* color: #fff; */
    display: flex;
    align-items: center;
    gap: 20px;

    z-index: 2;
    overflow: hidden;
    .icon-wrapper {
      height: 55px;
      width: 55px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .title {
      padding-block: 26px 40px;
      font-size: 28px;
      font-weight: 600;
    }

    .short-description {
      font-size: 20px;
      line-height: 29px;

      @media (max-width: 1440px) {
        font-size: 18px;
        line-height: 1.2;
      }
    }

    .arrow-indicator {
      position: absolute;
      bottom: 6%;
      right: 10%;
      opacity: 0.5;
      transform: rotate(-45deg);

      height: 18px;

      img {
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 16px;
    background-color: #4840bb;
    color: #fff;

    z-index: 1;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;

    .short-description {
      font-size: 20px;
    }
  }
}
